extends layouts/layout

block content
  h1= recipe.title

  // 🔹 Display the recipe image
  if recipe.image_url
    img(
      src=`/static/images/${recipe.image_url}`
      alt=recipe.title
      width="300"
      height="200"
      onerror="this.onerror=null; this.src='/static/images/default.jpg';"
    )
  else
    img(src="/static/images/default.jpg" alt="No image available" width="300" height="200")

  p Description: #{recipe.description}
  p Ingredients: #{recipe.ingredients}
  p Steps: #{recipe.steps}

  p Category: #{recipe.category_name}
  a(href="/recipes") 🔙 Back to Recipes
